<header>
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-5">
            <i class="fa fa-search p-1" style="color: grey;" aria-hidden="true"></i>
            <input [(ngModel)]="filterText" class="ml-1 w-95" style="border:none" type="text"
                placeholder="Search" aria-label="Search">
        </div>
        <div class="col-md-2 d-flex justify-content-center site-logo">
          SHOPHAX
        </div>
        <div class="col-md-5 d-flex justify-content-end">
          <ul class="nav nav-pills d-flex justify-content-end">
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <i class="fa fa-user mr-3" id="dropdownBasic1" ngbDropdownToggle aria-hidden="true" style="color: grey;"></i>
            <i class="fa fa-heart mr-3" style="color: grey;"></i>
            <i class="fa fa-shopping-bag mr-3 " routerLink="/cart" style="color: grey;"><span style="vertical-align: 5px;color: firebrick;">{{cart.itemCount}}</span></i>

            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
                <a routerLink="/admin/main" class="dropdown-item" href="#" (click)="$event.preventDefault()">Admin</a>
            </div>
          </li>
          </ul>
        </div>
      </div>
      <hr>
      <!-- navbar -->
      <div class="nav-scroller">
        <nav class="nav d-flex justify-content-center">
          <a class="p-4 text-muted" routerLink="home">Home</a>
          <a class="p-4 text-muted" routerLink="catalogue">Catalogue</a>
          <a class="p-4 text-muted" routerLink="about">About</a>
          <a class="p-4 text-muted" routerLink="contact">Contact</a>
        </nav>
    </div>
    </div>
  </header>